[Desktop Entry]
Type=Application
Name=EmacsClient
MimeType=text/plane
Exec=edit %F
NoDisplay=true
StartupNotify=false
Icon=emacs
Name[en_US]=EmacsClient
