[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=emacs
Icon=emacs
Exec=/home/ysjang/bin/edit
StartupNotify=false
StartupWMClass=Emacs
OnlyShowIn=Unity;
X-UnityGenerated=true
