[submodule "plugins/company-tern"]
	path = plugins/company-tern
	url = git@github.com:zeph1e/company-tern.git
[submodule "plugins/magit-gerrit"]
	path = plugins/magit-gerrit
	url = git@github.com:zeph1e/magit-gerrit.git
[submodule "plugins/block-travel"]
	path = plugins/block-travel
	url = git@github.com:emacs-vs/block-travel.git
